@{
    ViewData["Title"] = "Index";
    //@addTagHelper *, Syncfusion.EJ2
}
@section HeaderTag{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />

}
<div class="row">
    @Html.Partial("DeatailProyek")
    @Html.Partial("DetailInformasiUser")
</div>
<div class="row">
    @Html.Partial("Searching")
</div>
<div class="row">
    @Html.Partial("TableSPR")
</div>

<!-- Modal -->
@Html.Partial("Modal")


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

    <script>
        console.log("Custome Js here");
    </script>
    <script src="~/js/_Helper.js"></script>
    <script src="~/js/ProyekSelect.js"></script>
    <script src="~/js/SPRDataTable.js"></script>
    <script src="~/js/MintaSPRForm.js"></script>
    }
